[Unit]
Description=Nexus Node Launcher
After=network.target

[Service]
User=%u
WorkingDirectory=/home/%u/Nexus-Node
ExecStart=/bin/bash /home/%u/Nexus-Node/launch_nodes.sh
Restart=always
RestartSec=5
Environment=PATH=/home/%u/.nexus/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
